<% content_for :title do %>
    <title>Home | Blog</title>
<% end %>

<% content_for :body do %>
   	<h2>This is my first blog in rails framework.</h2>
		<h3>So keep posting and keep updating.</h3>
		
		<% if user_signed_in? %>
			<%= link_to 'See all Post >>',articles_path %>
		<% else %>
			<h3>You need to login to see blog post</h3>
		<% end %>
   </div>
<% end %>



